@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');


body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #85C1E9 ;
  text-align: center;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: italic;
  color: indigo;

}

input{
  height: 8vh;
}



form div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  padding: 5px 0;
}

.inForm{
  margin: 0 10px;
}

.items{
  display: flex;
  flex-direction: row;
  margin: 5px;

}

.taskInList{
  margin: 0 10px;
  
  
}

li{
  margin-right: 20px;
  width: 50%;
  font-size: 1.5rem;
  color: #fff ;
  opacity: .85;
  
  border-radius: 5px;
  font-weight: 500;
  
}

.buton-li{
  height: 80%;
}